[submodule "TwitterClient"]
	path = TwitterClient
	url = https://github.com/jescriba/TwitterClient.git
[submodule "Flicks"]
	path = Flicks
	url = https://github.com/jescriba/Flicks.git
[submodule "TipCalculator"]
	path = TipCalculator
	url = https://github.com/jescriba/TipCalculator.git
[submodule "InstaTumblr"]
	path = InstaTumblr
	url = https://github.com/jescriba/InstaTumblr.git
[submodule "Tinder"]
	path = Tinder
	url = https://github.com/jescriba/Tinder.git
[submodule "Canvas"]
	path = Canvas
	url = https://github.com/jescriba/Canvas.git
[submodule "ChatClientDemo"]
	path = ChatClientDemo
	url = https://github.com/jescriba/ChatClientDemo.git
[submodule "ios_yelp_swift"]
	path = ios_yelp_swift
	url = https://github.com/jescriba/ios_yelp_swift.git
[submodule "ios_github_demo"]
	path = ios_github_demo
	url = https://github.com/jescriba/ios_github_demo.git
